*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
body{
    background-color: white;
}
.container{
    background-color: wheat;
}
.meno{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}
.meno-item > ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
/* media-mobile */
@media only screen and (max-width:600px) {
    .meno{
        flex-direction: column;
    }
}
.header-info{
    margin-top: 90px;
    text-align: center;

}
.bold-title{
    font-size: 30px;
    font-weight: 900;
    padding: 10px;
}
.title-conten{
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    
}
.btn{
    padding: 18px 35px;
    font-size:20px;
    background-color: coral;
    border: none;
    border-radius: 15px;
}
.header-img{
    margin-top: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner-main{
    height: 70vh;
    width: 70vw;
}
/* media-mobile */
@media only screen and (max-width:600px) 
    .section-title{
        display: grid;
        
    }
