*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
body{
    background-color: white;
}
.container{
    background-color: wheat;
}
.meno{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}
.meno-item > ul {
    display: flex;
    gap: 25px;
    list-style: none;
}
/* media-mobile */
@media only screen and (max-width:600px) {
    .meno{
        flex-direction: column;
    }
}
.header-info{
    margin-top: 90px;
    text-align: center;

}
.bold-title{
    font-size: 30px;
    font-weight: 900;
    padding: 10px;
}
.title-conten{
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    
}
.btn{
    padding: 18px 35px;
    font-size:20px;
    background-color: coral;
    border: none;
    border-radius: 15px;
}
.header-img{
    margin-top: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner-main{
    height: 70vh;
    width: 70vw;
}
/* media-mobile */
@media only screen and (max-width:600px) {
    .section-title{
        display: grid;
    }

    .header-img >.banner-main{
        width: 100%;
        height: 100%;
    }

}
    /* main-container */
    .mid-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        margin-left: 200px;
    }
.img-itam{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;

}
.item-img{
    width: 272px;
    height: 272px;
}
.mid-head{
    font-size: 24px;
    font-weight:800px;
    padding: 10px;
}
.mid-cont{
    font-size: 16px;
    padding: 15px;
}
.mid-btn{
    padding: 15px;
}
/* media mobil  */
@media only screen and (max-width:600px) {
    .img-itam{
        grid-template-columns: repeat(1,1fr);
    }
    .mid-section{
        flex-direction: column;
        margin: 0 auto;
    }
}
/* section-2 */

    
.main-descripton{
    display: flex;
    margin-top: 80px;
   margin-left: 150px;
}
.detail-author{
    width: 70%;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
}
{
    width: 572px;
    height:800px;
    
}
.detail{
    font-size: 24px;
    width: 50%;
    padding: 10px;
}
.detail-meno{
    width: 50%;
    padding: 10px;
}
/* mobile view */
@media only screen and (max-width:600px) {
    .main-descripton{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .img-author>img{
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}
/* section-3 */
.section-3{
    margin-top: 80px;
}
.section-3-header{
    text-align: justify;
   position: relative;
   left: 200px;
}
.header-author{
    font-size: 34px;
    padding: 10px;
    font-weight: 700px;
    width: 50%;
}
.pera-auther{
    font-size: 18px;
    padding: 10px;
    width: 50%;
}
.skells
{display: flex;
justify-content: space-evenly;
align-items: center;
padding: 10px;
}
.skell{
    padding: 10px;
}
/* mobile media */
@media only screen and (max-width:600px) {
    .skells{
        flex-direction: column;
        margin: auto;
    }
}